@model IEnumerable<CheatBank.Models.GameModels.GameListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Here Are All of Your Games!</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleOfGame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleOfGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameId }) |
            @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
        </td>
    </tr>
}

</table>
