@model CheatBank.Models.SystemModels.GameSystemDetail

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Here is the Info for Your Game System</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SystemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
