@model IEnumerable<CheatBank.Models.CheatModels.CheatListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           <p><b>Title of Game</b></p> 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfCheat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheatDetails)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.TitleOfGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfCheat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheatDetails)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CheatId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CheatId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CheatId })
        </td>
    </tr>
}

</table>
